$primaryColor: #901c1c;
$secondaryColor: #d3573c;
$tertiaryColor: #525252;
$quaternaryColor: #ffffff;
$color5:#c4c4c4;
$modalColor:  #DB8876;
@keyframes modalOpen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
}
@mixin boxShadow {
    box-shadow: 10px 10px 10px $color5;
}
:root {
    --font-default: "DM Sans";
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
}
/*passer au contenu en mode sroller*/

.scroller{
    text-align: center;
    margin-top: 10px;
    line-height: 23px;
    display: none;
}
.passContent{
    color: #000000;
    background-color: $modalColor;
    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
    align-items: center;
    text-decoration: none;
    width: 170px;
    height: 19px;
        
}

/*css homepage*/
.homepage{
    text-decoration: none;
    background-color: $quaternaryColor;
    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        
    }
    li{
        
        height: 22px;
        border-radius: 15px;
        border: 1px solid $color5; 
        box-sizing: border-box;
        &:focus , &:hover {
            background-color: $primaryColor;
            
        } 
        
    }
    

    /*mise en place du titre et du header*/
    
    .header-navigation a , .tags{
        color: $primaryColor;
        text-decoration: none;
        font-weight: bold;
        font-style: normal;
        margin: 10px;
        &:focus , &:hover{
            color: $quaternaryColor;
            background-color: $primaryColor;
        }
    }
    
    .header{
        margin-top: -20px;
        display: grid;
        grid-template-columns: 20% 50% 25%;
        gap: 0;
        img{
            width: 200px;
            height: 50px;
            margin-left: 100px;
            margin-top: 40px;
        }
        h1{
            text-decoration: none;
            text-align: end;
            color: $primaryColor;
            font-size: 2rem;
            margin-right: 80px;
            grid-column-start: 3;
            margin-top: 50px;
                
            
        }
    }
    .header-navigation {
        grid-column-start: 2;
        grid-column-end: 2;
        width: 100%;
        margin-top: 40px;
        line-height: 16px;
        ul{
            font-size: 1em;
            margin-left: 0px;
            justify-content: space-between;
        }
        li{
            padding-top: 2px;
        }
    }
    
    
} 
    /*mise en place de la liste des photographes*/

.photographers{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    margin-top: 100px;
    
    
}   
.photographer{
    a{
        text-decoration: none;
    }
    margin-left: 50px;
    h2{
        
        color: $secondaryColor;
    }
    text-align: center;
    align-items: center;
    width: 263px;
    img{
        object-fit: cover;
        width: 200px;
        border-radius: 50%;
        height: 200px;
        @include boxShadow;
    }
    ul {
        flex-wrap: nowrap;
        margin-left: -20px;
    }
    li{
        margin-left: 5px;

    }
}
.countryCity{
    color: $primaryColor;
}
.price{
    color: $tertiaryColor;
}

.tagline , .tags{
    font-size: 0.8em;
}

@media screen and (min-width: 1600px) {
    .homepage{
        
        .header{
            img{
                width: 250px;
                height: 75px;
               
            }
            h1{
            font-size: 4em;
            margin-top: 50px;
            }
        }
        .header-navigation{
            margin-top: 50px;
            ul{
                font-size: 1.3em;
            }
        }

    }
    .passContent{
        font-size: 1.8em;
    }

    .photographers{
        grid-column-gap: 100px;
        grid-row-gap: 75px;
    }
    .photographer{
        width: 363px;
        img{
            width: 300px;
            height: 300px;
        }
    }
    .tagline , .tags , .price{
        font-size: 1.2em;
    }

}

@media screen and (max-width: 1360px) {
    .homepage{
        .header{
            img{
                width: 150px;
                
            }
             h1{
            font-size: 1.7em;
            margin-top: 55px;
            margin-right: 90px;
            }
        }
       
        .header-navigation ul{
            font-size: 0.8em;
            margin-top: 20px;
        }
    }
    .photographers{
        grid-column-gap: 50px;
    }
    .photographer{
        margin-right: 50px;
    }
}
@media screen and(max-width: 1215px) {
    .homepage{
        .header{
            grid-template-columns: 15% 85%;
            h1{
                font-size: 1.6em;
                grid-column-start: 2;
                margin-right: 150px;
            }
        }
        .header-svg{
            margin-left: -50px;
        }
    }
    .header-navigation{
        font-size: 1em;
        margin-left: -150px;
        grid-row-start: 2;
    }
    
    .photographer{
        margin-left: 30px;
    }
}
@media screen and (max-width: 1055px) {
    .homepage{
        .header{
            
            h1{
            font-weight: normal;
            font-size: 1.8em;
            
            
            grid-row-start: 1;
            }
    }
        .header-svg{
            margin-left: -50px;
            
        
        }
    }
    .header-navigation{
        width: 100%;
        font-size: 1.2em ;
        margin-left: -100px;
        grid-row-start: 2;
        
    }
    
    
   .photographers{
       
       display: grid;
       grid-template-columns:50% 50%;
       
   }
   .photographer{
       margin-left: 70px;

   }
   
}
@media screen and(max-width: 768px) {
    .homepage{
        .header h1{
            margin-right: 100px;
            font-size: 1.5em;
        }
    }
    .header-navigation{
        margin-left: -80px;
    }
    .photographers{
       grid-template-columns: 50%;
       justify-content: center;
    }
    .photographer{
        margin-left: 0px;
    }
    .nomImage{
        font-size: 0.9em;
    }
}
@media screen and(max-width: 500px) {
    .homepage{
        .header h1{
            margin-right: 50px;
            
        }
        .header img{
            margin-left: 50px;
        }
    }
    .header-navigation{
        margin-left: -80px;
    }
    .photographer{
        margin-left: -50px;
    }
}
@media screen and(max-width: 440px) {
    .homepage{
        .header h1{
            font-size: 1.3em;
        }
        .header-navigation{
            font-size: 0.8em;
        }
    }
    .photographer{
    margin-left: -100px;
    }
}
/* css page infos photographe*/

.pagePhotographe{
    background-color: $quaternaryColor;
    h1{
        font-size: 2.5em;
        color: $secondaryColor;
        margin-left: 140px;
    }
    a{
        text-decoration: none;
    }
    
    
    
    /*mise en place partie header*/
    
    .header{
        display: grid;
        grid-template-columns: 3 1fr;
        align-items: center;
        img{
            width: 200px;
            height: 50px;
            margin-left: 100px;
            margin-top: 40px;
        }
    }
}    
    /*details photographe*/
    
        
        

.photographeInfo{
    &__content{
        display: grid;
        grid-template-columns: 40% 35% 10%;
          
        img{
            right: 10px;
            object-fit: cover;
            width: 200px;
            border-radius: 50%;
            height: 200px;
            grid-column-start: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            margin-top: 30px;
            @include boxShadow;
        }
        
    }
    
    &__details{
        ul{
            margin-left: 80px;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap; 
        }
    }
    .Tags{
        margin-left: 20px;
        height: 30px;
        border-radius: 15px;
        border: 1px solid $color5; 
        box-sizing: border-box;
        &:hover, &:focus{
            background-color: $primaryColor;
        }
    }      
      
    .countryCity , .tags{
    font-size: 1.5em;
    }
    .tagline{
    font-size: 1.2em;
    color: $tertiaryColor;
    margin-left: 140px;
    }
    .countryCity{
            margin-left: 140px;
    }
    .tags{
        font-size: 1.2em;
        color: $primaryColor;
        margin: 10px;
        align-items: center;
        padding-bottom: 10px ;
        &:focus, &:hover{
            color: $quaternaryColor;
            background-color: $primaryColor;
        }
    }
}
.modal-btn{
        
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 5px;
        width: 170px;
        height: 69px;
        background-color: $primaryColor;
        color: $quaternaryColor;
        margin-top: 20px;
        grid-column-start: 2;
        border: 1px solid $primaryColor;
        &:hover, &:focus{
            color: #000000;
            background-color: $modalColor;
            border: 1px solid $modalColor;
        }
}
/*menu filtre*/
    
.filter{
    margin-top: 50px;
    
    margin-left: 100px;
    &__selector {
        background: $primaryColor;
        color: $quaternaryColor;
        border-radius: 5px;
        width: 170px;
        height: 69px;
        font-size: 1.25em;
        font-family: inherit;
        letter-spacing: 1px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        text-align: left;
        padding-left: 20px;
        margin-left: 30px;
    }
    &__dropdown{
        display: flex;
        align-items: baseline;
       
    }
    &__label{
        font-size: 1.25em;
        font-weight: bold;
    }
    &__selection {
        position: relative;
        display: flex;
        align-items: center;
    }
    &__selection-arrow {
        
        transition: transform 300ms;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 1px;
        right: 1px;
        border-radius: 5px;
        height: 95%;
        width: 40px;
        cursor: pointer;
        margin: auto;
        &::before {
            content: url('../../icones/selection-arrow.svg');
        }
        
    }
    &__selection-menu {
        position: absolute;
        top: 63px;
        z-index: 12;
        background: $primaryColor;
        color: $quaternaryColor;
        width: 88%;
        font-size: 1.25em;
        font-weight: bold;
        padding: 0 10px;
        border-radius: 0 0 5px 5px;
        display: none;
        letter-spacing: 1px;
        @include boxShadow;
        list-style-type: none;
        margin-left: 15px;

    }
    &__selection-option {
        padding: 14px 0 14px 10px;
        border-top: 1px solid $quaternaryColor;
        cursor: pointer;
    }
    &__show {
        display: block;
    }
}
       
/*mise place partie liste des photos*/
.gallery{
        display: grid;
        grid-template-columns: 20% 20% 20%;
        grid-column-gap: 10%;
        align-items: center;
        margin-top: 50px;
        
} 
.media{
        margin-left: 100px;
        p{
            color: $primaryColor;
            font-size: 1.25em;
        }
        img{
            object-fit: cover;
            width: 350px;
            height: 300px;
            border-radius: 5px;
            @include boxShadow;
        }
        &__content{
            display: flex;
            justify-content: space-between;
            width: 350px;
            font-size: 0.95em;
        }
        &__title{
            color: $primaryColor;
        }&__likes{
            justify-content: space-evenly;
            display: flex;
            align-items: center;
            font-weight: bold;
            .fas{
                cursor: pointer;
                color: $primaryColor;
            }
        }
        &__number{
            cursor: pointer;
            right:10px;
        }
}
    
#photo2{
        grid-column-start: 2;
}
#photo3{
        grid-column-start: 3;
}


.likesTotals_remuneration{
        position: sticky;
        bottom: 5%;
        left: 95vw;
        
        margin-bottom: 50%;
        padding-top: 20px;
        font-weight: 700;
        font-size: 1.5em;
        background-color: $modalColor;
        border-radius: 5px;
        width: 350px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
}
.likesTotals{
    display: flex;
    align-items: center;
    
}    


.remuneration{
    margin-left: 50px;
    
}

/*css lightbox*/
.lightbox{
    display: none;
    position: fixed;
    z-index: 1;
    padding: 10px 62px 0px 62px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $quaternaryColor;
}
.lightbox-container {
    margin-left: -20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 0 0 0;
    width: 80%;
    max-width: 1200px;
    &__media{
        display: none;
        p{
        font-size: 1.5em;
        color: $primaryColor;
        margin-top: 5px;
        } 
    }
    &__close{
        color: $primaryColor;
        position: absolute;
        top: -1vh;
        right: -20px;
        font-size: 70px;
        font-weight: bold;
        &:hover , &:focus{
            color: $modalColor;
            text-decoration: none;
            cursor: pointer;
        }
    }
    &__preview , &__next{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: $primaryColor;
        font-weight: bold;
        font-size: 48px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
        &:hover , &:focus{
            color: $modalColor;
        }
    }
    &__preview{
        left: -20px;
    }
    &__next{
        right: -20px;
        border-radius: 3px 0 0 3px;
    }
}
.media-slide{
    height: 90vh;
    
}
#video{
    width: 105vh;
}
/*css modal*/
.contactPhotographe{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: #C4C4C466;
        h1{
            color: #000000;
            font-size: 4em;
            margin-left: 5%;
            margin-top: 0;
        }
}
.content {
        
        margin: 2% auto;
        width: 100%;
        max-width: 669px;
        animation-name: modalOpen;
        animation-duration: var(--modal-duration);
        background: $modalColor;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        color: #fff;
        padding-top: 10px;
        height: 950px;
        display: flex;
        flex-direction: column;
}
.close {
    
    position: absolute;
    right: 15px;
    top: 15px;
    width: 42px;
    height: 42px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
    &:before, &:after{
        position: absolute;
        left: 15px;
        content: " ";
        height: 33px;
        width: 3px;
        background-color: #fff;
    }
    &:before{
        transform: rotate(45deg);
    }
    &:after{
        transform: rotate(-45deg);
    }
}
    
.formData{
    label {
        font-family: var(--font-default);
        font-size: 2.25em;
        font-weight: normal;
        display: inline-block;
        margin-bottom: 11px;
        color: $tertiaryColor;
        margin-left: 5%;
    }
    input {
        padding: 8px;
        border: 0.8px solid $quaternaryColor;
        outline: none;
        
    }
}    
.text-control {
        margin: 0;
        padding: 8px;
        width: 100%;
        max-width: 600px;
        border-radius: 5px;
        font-size: 2em;
        height: 68px;
        margin-left: 5%;
}
#message{
        height: 170px;
}
.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: $primaryColor;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
    opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
    border: 2px solid $primaryColor;
}
#submit{
        border-radius: 5px;
        width: 170px;
        height: 69px;
        background-color: $primaryColor;
        color: $quaternaryColor;
        border: 1px solid $primaryColor;
        margin-left: 5%;
        font-size: 1.2em;
        &:hover, &:focus{
            color: #000000;
            background-color: $secondaryColor;
            border: 1px solid $secondaryColor;
        }
}
//adaptation of screen  photographer's page
@media screen and(max-width: 1360px) {
    .pagePhotographe{
        .photographeInfo__content{
            grid-template-columns: 55% 20% 10%;
        }
    }
    .photographeInfo__content{
        margin-left: -30px;
    }
}
@media screen and (max-width: 1200px){
    .media{
        img{
            object-fit: cover;
            width: 300px;
            height: 250px;
        }
        &__content{
        
        width: 300px;
        }
    }
    .media-slide{
        max-width: 750px;
        left: 50px;
    }
    .lightbox-container{
    margin-left: -20px;
    }   
}
@media screen and (max-width: 1024px) {
    .gallery{
        grid-template-columns: 37.5% 37.5%;
        column-gap: 10% 5% 10%;
    }
    .media-slide{
        margin-top: 10%;
        max-width: 550px;
        max-height: 458px;
    }
    .lightbox-container{
        margin-left: -20px;
        &__close{
            top: 10%;
        
        }
    }
}
@media screen and(max-width: 768px) {
    .pagePhotographe{
        .header-svg, .photographeInfo{
            margin-left: -80px;
        }
        .photographeInfo__content{
            width: 100%;
            grid-template-columns: 85% 15%;
            
            margin-left: -50px;
                
                
            
            h1{
                font-size: 2em;
                margin-left: 150px;
                
            }
            img{
                width: 100px;
                height: 100px;
                grid-column-start: 2;
                margin-left: 20%;
            }
            .modal-btn{
                margin-top:  400px;
                position: fixed;
                margin-left: 50%;
                height: 35px;
                
            }
            .countryCity, .tagline{
                margin-left: 150px;
                font-size: 0.8em;
                
            }
            ul{
                font-size: 0.8em;
                display: flex;
                
            }
            
            
        }
    }
    .gallery{
        grid-template-columns: 100%;
        gap: 20px 20px;
        
    }
    .media{
        margin-left: 10px;
        width: 100%;
        img, &__content{
            width: 95%;
            max-width: 350px;
            

        }
        
    }
    .media-slide{
        margin-top: 20%;
        max-width: 400px;
        max-height: 334px;
    }
    .lightbox-container{
        margin-left: -30px;
        &__close , &__next , &__preview{
            font-size: 35px;
        }
        &__next{
            right: -40px;
        }
        &__preview{
            left: -40px;
        }
        &__close{
            top: 15%;
        }
    }
    
    
    .likesTotals_remuneration, .filter{
        display: none;
    }
    .contactPhotographe{
        width: 97%;
        label{
            font-size: 2em;
        }

    }
    
    .nameInTitle h1, .formData label, .text-control{
        margin-left: 1%;
        
    }
    .error{
        margin-left: 0;
    }
    .text-control{
        width: 90%;
    }
    #submit{
        height: 35px;
        margin-left: 35%;
    }
}
@media screen and(max-width: 514px) {
    .pagePhotographe{
        .photographeInfo__content{
            ul{
               flex-wrap: nowrap;
               margin-top: 40px;
            }
            .modal-btn{
            margin-left: 60%;
            }
        }
        .h1Contact{
            font-size: 2.5em;
        }
    }
    .lightbox-container{
        margin-top: 25%;
    }
    .media-slide{
        max-width: 300px;
        max-height: 250px;
        
    }    
        
    
}    

    