@keyframes modalOpen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
:root {
  --font-default: "DM Sans";
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

/*passer au contenu en mode sroller*/
.scroller {
  text-align: center;
  margin-top: 10px;
  line-height: 23px;
  display: none;
}

.passContent {
  color: #000000;
  background-color: #DB8876;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  align-items: center;
  text-decoration: none;
  width: 170px;
  height: 19px;
}

/*css homepage*/
.homepage {
  text-decoration: none;
  background-color: #ffffff;
  /*mise en place du titre et du header*/
}
.homepage ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.homepage li {
  height: 22px;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}
.homepage li:focus, .homepage li:hover {
  background-color: #901c1c;
}
.homepage .header-navigation a, .homepage .tags {
  color: #901c1c;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  margin: 10px;
}
.homepage .header-navigation a:focus, .homepage .header-navigation a:hover, .homepage .tags:focus, .homepage .tags:hover {
  color: #ffffff;
  background-color: #901c1c;
}
.homepage .header {
  margin-top: -20px;
  display: grid;
  grid-template-columns: 20% 50% 25%;
  gap: 0;
}
.homepage .header img {
  width: 200px;
  height: 50px;
  margin-left: 100px;
  margin-top: 40px;
}
.homepage .header h1 {
  text-decoration: none;
  text-align: end;
  color: #901c1c;
  font-size: 2rem;
  margin-right: 80px;
  grid-column-start: 3;
  margin-top: 50px;
}
.homepage .header-navigation {
  grid-column-start: 2;
  grid-column-end: 2;
  width: 100%;
  margin-top: 40px;
  line-height: 16px;
}
.homepage .header-navigation ul {
  font-size: 1em;
  margin-left: 0px;
  justify-content: space-between;
}
.homepage .header-navigation li {
  padding-top: 2px;
}

/*mise en place de la liste des photographes*/
.photographers {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 80px;
  grid-row-gap: 50px;
  margin-top: 100px;
}

.photographer {
  margin-left: 50px;
  text-align: center;
  align-items: center;
  width: 263px;
}
.photographer a {
  text-decoration: none;
}
.photographer h2 {
  color: #d3573c;
}
.photographer img {
  object-fit: cover;
  width: 200px;
  border-radius: 50%;
  height: 200px;
  box-shadow: 10px 10px 10px #c4c4c4;
}
.photographer ul {
  flex-wrap: nowrap;
  margin-left: -20px;
}
.photographer li {
  margin-left: 5px;
}

.countryCity {
  color: #901c1c;
}

.price {
  color: #525252;
}

.tagline, .tags {
  font-size: 0.8em;
}

@media screen and (min-width: 1600px) {
  .homepage .header img {
    width: 250px;
    height: 75px;
  }
  .homepage .header h1 {
    font-size: 2.5em;
    margin-top: 50px;
    margin-right: -50px;
  }
  .homepage .header-navigation {
    margin-top: 50px;
  }
  .homepage .header-navigation ul {
    font-size: 1.1em;
  }

  .passContent {
    font-size: 1.8em;
  }

  .photographers {
    grid-column-gap: 100px;
    grid-row-gap: 75px;
  }

  .photographer {
    width: 363px;
  }
  .photographer img {
    width: 300px;
    height: 300px;
  }

  .tagline, .tags, .price {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 1360px) {
  .homepage .header img {
    width: 150px;
  }
  .homepage .header h1 {
    font-size: 1.7em;
    margin-top: 55px;
    margin-right: 90px;
  }
  .homepage .header-navigation ul {
    font-size: 0.8em;
    margin-top: 20px;
  }

  .photographers {
    grid-column-gap: 50px;
  }

  .photographer {
    margin-right: 50px;
  }
}
@media screen and (max-width: 1215px) {
  .homepage .header {
    grid-template-columns: 15% 85%;
  }
  .homepage .header h1 {
    font-size: 1.6em;
    grid-column-start: 2;
    margin-right: 150px;
  }
  .homepage .header-svg {
    margin-left: -50px;
  }

  .header-navigation {
    font-size: 1em;
    margin-left: -150px;
    grid-row-start: 2;
  }

  .photographer {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1055px) {
  .homepage .header h1 {
    font-weight: normal;
    font-size: 1.8em;
    grid-row-start: 1;
  }
  .homepage .header-svg {
    margin-left: -50px;
  }

  .header-navigation {
    width: 100%;
    font-size: 1.2em;
    margin-left: -100px;
    grid-row-start: 2;
  }

  .photographers {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .photographer {
    margin-left: 70px;
  }
}
@media screen and (max-width: 768px) {
  .homepage .header h1 {
    margin-right: 100px;
    font-size: 1.5em;
  }

  .header-navigation {
    margin-left: -80px;
  }

  .photographers {
    grid-template-columns: 50%;
    justify-content: center;
  }

  .photographer {
    margin-left: 0px;
  }

  .nomImage {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 500px) {
  .homepage .header h1 {
    margin-right: 50px;
  }
  .homepage .header img {
    margin-left: 50px;
  }

  .header-navigation {
    margin-left: -80px;
  }

  .photographer {
    margin-left: -50px;
  }
}
@media screen and (max-width: 440px) {
  .homepage .header h1 {
    font-size: 1.3em;
  }
  .homepage .header-navigation {
    font-size: 0.8em;
  }

  .photographer {
    margin-left: -100px;
  }
}
/* css page infos photographe*/
.pagePhotographe {
  background-color: #ffffff;
  /*mise en place partie header*/
}
.pagePhotographe h1 {
  font-size: 2.5em;
  color: #d3573c;
  margin-left: 140px;
}
.pagePhotographe a {
  text-decoration: none;
}
.pagePhotographe .header {
  display: grid;
  grid-template-columns: 33% 33% auto;
  align-items: center;
}
.pagePhotographe .header img {
  width: 200px;
  height: 50px;
  margin-left: 100px;
  margin-top: 40px;
}

/*details photographe*/
.photographeInfo__content {
  display: grid;
  grid-template-columns: 40% 35% 10%;
}
.photographeInfo__content img {
  right: 10px;
  object-fit: cover;
  width: 200px;
  border-radius: 50%;
  height: 200px;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-top: 30px;
  box-shadow: 10px 10px 10px #c4c4c4;
}
.photographeInfo__details ul {
  margin-left: 80px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.photographeInfo .Tags {
  margin-left: 20px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}
.photographeInfo .Tags:hover, .photographeInfo .Tags:focus {
  background-color: #901c1c;
}
.photographeInfo .countryCity, .photographeInfo .tags {
  font-size: 1.5em;
}
.photographeInfo .tagline {
  font-size: 1.2em;
  color: #525252;
  margin-left: 140px;
}
.photographeInfo .countryCity {
  margin-left: 140px;
}
.photographeInfo .tags {
  font-size: 1.2em;
  color: #901c1c;
  margin: 10px;
  align-items: center;
  padding-bottom: 10px;
}
.photographeInfo .tags:focus, .photographeInfo .tags:hover {
  color: #ffffff;
  background-color: #901c1c;
}

.modal-btn {
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 5px;
  width: 170px;
  height: 69px;
  background-color: #901c1c;
  color: #ffffff;
  margin-top: 20px;
  grid-column-start: 2;
  border: 1px solid #901c1c;
}
.modal-btn:hover, .modal-btn:focus {
  color: #000000;
  background-color: #DB8876;
  border: 1px solid #DB8876;
}

/*menu filtre*/
.filter {
  margin-top: 50px;
  margin-left: 100px;
}
.filter__selector {
  background: #901c1c;
  color: #ffffff;
  border-radius: 5px;
  width: 180px;
  height: 69px;
  font-size: 1.25em;
  font-family: inherit;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-align: left;
  padding-left: 20px;
  margin-left: 30px;
  z-index: 13;
}
.filter__dropdown {
  display: flex;
  align-items: center;
}
.filter__label {
  font-size: 1.25em;
  font-weight: bold;
}
.filter__selection {
  position: relative;
  display: flex;
  align-items: center;
}
.filter__selection-arrow {
  z-index: 13;
  transition: transform 300ms;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1px;
  right: 1px;
  border-radius: 5px;
  height: 95%;
  width: 40px;
  cursor: pointer;
  margin: auto;
}
.filter__selection-arrow::before {
  content: url("../../icones/selection-arrow.svg");
}
.filter__selection-menu {
  position: absolute;
  top: -20px;
  z-index: 12;
  background: #901c1c;
  color: #ffffff;
  width: 77%;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0 10px;
  border-radius: 5px;
  display: none;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px #c4c4c4;
  list-style-type: none;
  margin-left: 30px;
}
.filter__selection-option {
  padding: 22px 0 18px 10px;
  border-top: 1px solid #ffffff;
  cursor: pointer;
  height: 35px;
}
.filter__show {
  display: block;
}

/*mise place partie liste des photos*/
.gallery {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-column-gap: 10%;
  align-items: center;
  margin-top: 50px;
}

.media {
  margin-left: 100px;
}
.media p {
  color: #901c1c;
  font-size: 1.25em;
}
.media img {
  cursor: pointer;
  object-fit: cover;
  width: 350px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #c4c4c4;
}
.media__content {
  display: flex;
  justify-content: space-between;
  width: 350px;
  font-size: 0.95em;
}
.media__title {
  color: #901c1c;
}
.media__likes {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.media__likes .fas {
  cursor: pointer;
  color: #901c1c;
}
.media__number {
  cursor: pointer;
  right: 10px;
}

#photo2 {
  grid-column-start: 2;
}

#photo3 {
  grid-column-start: 3;
}

.likesTotals_remuneration {
  position: sticky;
  bottom: 5%;
  left: 95vw;
  margin-bottom: 50%;
  padding-top: 20px;
  font-weight: 700;
  font-size: 1.5em;
  background-color: #DB8876;
  border-radius: 5px;
  width: 350px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.likesTotals {
  display: flex;
  align-items: center;
}

.remuneration {
  margin-left: 50px;
}

/*css lightbox*/
.lightbox {
  display: none;
  position: fixed;
  z-index: 14;
  padding: 10px 62px 0px 62px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
}

.lightbox-container {
  margin-left: -20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 0 0 0;
  width: 80%;
  max-width: 1200px;
}
.lightbox-container__media {
  display: none;
}
.lightbox-container__media p {
  font-size: 1.5em;
  color: #901c1c;
  margin-top: 5px;
}
.lightbox-container__close {
  color: #901c1c;
  position: absolute;
  top: -1vh;
  right: -20px;
  font-size: 70px;
  font-weight: bold;
}
.lightbox-container__close:hover, .lightbox-container__close:focus {
  color: #DB8876;
  text-decoration: none;
  cursor: pointer;
}
.lightbox-container__preview, .lightbox-container__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #901c1c;
  font-weight: bold;
  font-size: 48px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.lightbox-container__preview:hover, .lightbox-container__preview:focus, .lightbox-container__next:hover, .lightbox-container__next:focus {
  color: #DB8876;
}
.lightbox-container__preview {
  left: -20px;
}
.lightbox-container__next {
  right: -20px;
  border-radius: 3px 0 0 3px;
}

.media-slide {
  height: 90vh;
}

#video {
  width: 105vh;
}

#media1 {
  visibility: hidden;
}

/*css modal*/
.contactPhotographe {
  display: none;
  position: fixed;
  z-index: 14;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #C4C4C466;
}
.contactPhotographe h1 {
  color: #000000;
  font-size: 4em;
  margin-left: 5%;
  margin-top: 0;
}

.content {
  margin: 2% auto;
  width: 100%;
  max-width: 669px;
  animation-name: modalOpen;
  animation-duration: var(--modal-duration);
  background: #DB8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
  height: 950px;
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 42px;
  height: 42px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.formData label {
  font-family: var(--font-default);
  font-size: 2.25em;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
  color: #525252;
  margin-left: 5%;
}
.formData input {
  padding: 8px;
  border: 0.8px solid #ffffff;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  font-size: 2em;
  height: 68px;
  margin-left: 5%;
}

#message {
  height: 170px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #901c1c;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible=true]::after {
  opacity: 1;
}

.formData[data-error-visible=true] .text-control {
  border: 2px solid #901c1c;
}

#submit {
  border-radius: 5px;
  width: 170px;
  height: 69px;
  background-color: #901c1c;
  color: #ffffff;
  border: 1px solid #901c1c;
  margin-left: 5%;
  font-size: 1.2em;
}
#submit:hover, #submit:focus {
  color: #000000;
  background-color: #d3573c;
  border: 1px solid #d3573c;
}

@media screen and (max-width: 1360px) {
  .pagePhotographe .photographeInfo__content {
    grid-template-columns: 55% 20% 10%;
  }

  .photographeInfo__content {
    margin-left: -30px;
  }
}
@media screen and (max-width: 1200px) {
  .media img {
    object-fit: cover;
    width: 300px;
    height: 250px;
  }
  .media__content {
    width: 300px;
  }

  .media-slide {
    max-width: 750px;
    left: 50px;
  }

  .lightbox-container {
    margin-left: -20px;
  }
}
@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: 37.5% 37.5%;
    column-gap: 10%;
  }

  .media-slide {
    margin-top: 10%;
    max-width: 550px;
    max-height: 458px;
  }

  .lightbox-container {
    margin-left: -20px;
  }
  .lightbox-container__close {
    top: 10%;
  }
}
@media screen and (max-width: 768px) {
  .pagePhotographe .header-svg, .pagePhotographe .photographeInfo {
    margin-left: -80px;
  }
  .pagePhotographe .photographeInfo__content {
    width: 100%;
    grid-template-columns: 85% 15%;
    margin-left: -50px;
  }
  .pagePhotographe .photographeInfo__content h1 {
    font-size: 2em;
    margin-left: 150px;
  }
  .pagePhotographe .photographeInfo__content img {
    width: 100px;
    height: 100px;
    grid-column-start: 2;
    margin-left: 20%;
  }
  .pagePhotographe .photographeInfo__content .modal-btn {
    margin-top: 400px;
    position: fixed;
    margin-left: 50%;
    height: 35px;
  }
  .pagePhotographe .photographeInfo__content .countryCity, .pagePhotographe .photographeInfo__content .tagline {
    margin-left: 150px;
    font-size: 0.8em;
  }
  .pagePhotographe .photographeInfo__content ul {
    font-size: 0.8em;
    display: flex;
  }

  .gallery {
    grid-template-columns: 100%;
    gap: 20px 20px;
  }

  .media {
    margin-left: 10px;
    width: 100%;
  }
  .media img, .media__content {
    width: 95%;
    max-width: 350px;
  }

  .media-slide {
    margin-top: 20%;
    max-width: 400px;
    max-height: 334px;
  }

  .lightbox-container {
    margin-left: -30px;
  }
  .lightbox-container__close, .lightbox-container__next, .lightbox-container__preview {
    font-size: 35px;
  }
  .lightbox-container__next {
    right: -40px;
  }
  .lightbox-container__preview {
    left: -40px;
  }
  .lightbox-container__close {
    top: 15%;
  }

  .likesTotals_remuneration, .filter {
    display: none;
  }

  .contactPhotographe {
    width: 97%;
  }
  .contactPhotographe label {
    font-size: 2em;
  }

  .nameInTitle h1, .formData label, .text-control {
    margin-left: 1%;
  }

  .error {
    margin-left: 0;
  }

  .text-control {
    width: 90%;
  }

  #submit {
    height: 35px;
    margin-left: 35%;
  }
}
@media screen and (max-width: 514px) {
  .pagePhotographe .photographeInfo__content ul {
    flex-wrap: nowrap;
    margin-top: 40px;
  }
  .pagePhotographe .photographeInfo__content .modal-btn {
    margin-left: 60%;
  }
  .pagePhotographe .h1Contact {
    font-size: 2.5em;
  }

  .lightbox-container {
    margin-top: 25%;
  }

  .media-slide {
    max-width: 300px;
    max-height: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
